@import '../../styles/constants';

.counter_badge {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: $bg_hover;
    color: $black;
}