// Colors
$black: #110E12;
$grey: #343A40;
$bg_select: #DEE2E6;
$bg_hover: #E9ECEF;
$white: #fff;

// Typography

// Paddings & Margins
$padding: .5em 1em;

// Shadows

// Borders
$border_radius: .4em;

// Animations

// Breakpoints