@import '../../styles/constants';

.button {
    border: 1.5px solid $black;
    padding: .5em 1em;
    background-color: $black;
    color: $white;
    border-radius: .4em;
    font-size: 16px;
    transition: background-color 250ms ease-in-out;

    &:hover {
        background-color: $grey;
        border: 1.5px solid $grey;
    }

    &:active {
        transform: scale(.97);
    }

    &.outline {
        background-color: $white;
        color: $black;

        &:hover {
            background-color: $bg_hover;
        }
    }
}